body {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
}

.area {
  fill: red;
  opacity: 0.2;
}


.dot {
  fill: black;
  stroke: black;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}